body {
    text-align: center;
    font-family: "Arial", "Meiryo", sans-serif;
}
.first-text {
    font-size: 2em;
    border-bottom: solid 3px rgb(115, 115, 114);
    letter-spacing: 1.2em;
    text-shadow: 1px 1px 2px gray;
    /* 以下にグーグルフォント入れる */
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.text-pink {
    color: rgb(255, 192, 203);
}
.text-skyblue {
    color: skyblue;
}
#basic .text-bold {
    font-weight: bold;
}
html {
    font-size: 20px;
}